<div style="display: flex;align-items: center;justify-content: center;margin-top: 10rem;">
  <div style="display: flex; flex-direction: column; width: 20rem; height: max-content; background-color: lightgray;justify-content: center;padding: 3rem;">
    <h3 style="border-bottom: 1px solid gray; padding: 1rem;"> {{data.magazine}}</h3>
    <hr>
    Amount: <h4> {{data.amount}}</h4>
    Payment frequency: <h4>{{data.frequency}}</h4>
  
    <button style="background-color: green; color: white; padding: 1rem; cursor: pointer;" (click)="subscribe()">Subscribe</button>
  
  </div>
</div>